/*
 EOSPass login popup.css (c) 2019 EOS Geneva - All Rights Reserved
 Unauthorized copying of this file, via any medium is strictly prohibited
 Proprietary and confidential
*/

body{
	background-color: #FFF;
	width: 500px;
	height: 200px;
	text-align: center;
	font-size: 14px;
	margin: 12px;
}

p{
	display: block;
	margin:  12px;
}

button {
	cursor:        pointer;
	margin-top:    20px;
	background:    #f3f3f3;
	background:    -webkit-linear-gradient(#f3f3f3, #cccccc);
	background:    linear-gradient(#f3f3f3, #cccccc);
	border:        1px solid #444444;
	border-radius: 10px;
	padding:       16px 24px;
	color:         #000000;
	display:       inline-block;
	font:          normal 700 18px/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   none;
}
#pvkey {
	width: 350px;
}
